@import url("https://fonts.googleapis.com/css2?family=Amiri:ital,wght@0,400;0,700;1,400;1,700&family=Rubik:ital,wght@0,300..900;1,300..900&family=Scheherazade+New:wght@400;500;600;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 1rem;
  font-family: "Rubik", sans-serif;
}
.heading {
  font-weight: normal;
  margin-bottom: 1rem;
  color: white;
}
@media screen and (max-width: 767px) {
  .heroImg {
    display: none;
  }
}
.content {
  padding: 1rem;
  border: 1px solid #777;
  border-radius: 10px;
  color: white;
}
#demo-simple-select-label {
  font-family: "Rubik", sans-serif;
}
.MuiOutlinedInput-notchedOutline {
  border-color: white !important;
}
.MuiSvgIcon-root,
.MuiInputLabel-outlined,
.MuiSelect-select {
  color: white !important;
  font-family: "Rubik", sans-serif !important;
}
.MuiButtonBase-root {
  font-family: "Rubik", sans-serif !important;
}
.Mui-disabled {
  cursor: no-drop !important;
}
.Mui-disabled .MuiOutlinedInput-notchedOutline,
.Mui-disabled .MuiSvgIcon-root {
  border-color: gray !important;
}
